/*Header CSS*/
header {

    #logo {
        max-width: $logoLgSize;
    }
    h1 {
        padding-top: 4rem;
        font-size: 2rem;
        margin-left: $logoLgSize;
    }

    div {
        font-size: 2rem;
    }
}


nav ul {
    margin-left: $logoLgSize;
}

/*Main Css*/

main {
    clear: both;
    
    button {
        font-size: 8rem;
    }

    button.forward {
        top: 30%;
    }
  
    button.back {
        top: 30%;
    }

    .pageHeading {
        top: 75px;
    }

    //Reservations Formatting
    .reportBtn {
        font-size: 1.75rem;
    }

    //Guides Formatting
    #guides {
        text-align: center;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 20px;
    }

    div.guide {
        display: block;
    }

    div.guide img {
        max-width: 100%;
    }

    div.guide section h2 {
        text-align: center;
    }

    div#row2 h2 {
        text-align: center;
    }

    #row2 {
        text-align: center;
    }
    
    div.guide section#row1, div.guide section#row2, div.guide section#row3 {
        margin: 0;
    }

}
