header {

    h1 {
        padding-top: 4rem;
        font-size: 2rem;
        margin-left: 25%;
    }

    div {
        font-size: 2rem;
    }
}

main {
    clear: both;
    button {
        font-size: 10rem;
    }

}

nav ul {
    margin-left: 20%;
}