/*Header CSS*/
header {

    #logo {
        max-width: $logoLgSize;
    }
    h1 {
        padding-top: 4rem;
        font-size: 2rem;
        margin-left: $logoLgSize;
    }

    div {
        font-size: 2rem;
    }
}


nav ul {
    margin-left: $logoLgSize;
}

/*Main Css*/

main {
    clear: both;
    
    button {
        font-size: 8rem;
    }

}
