header {

    #logo {
        max-width: $logoMdSize;
    }

    h1 {
        padding-top: 2.5rem;
        font-size: 1.5rem;
        margin-left: $logoMdSize;
    }

    div {
        display: flex;
        float: right;
        margin: 0.5rem;
        margin-left: 0;
        margin-bottom: 0;
        font-size: 1.5rem;
        text-shadow: 1px 1px 1px rgba(168, 168, 168, 0.4);
    }
}

/*Nav CSS*/

nav {
    margin-top: 2rem;
}

nav ul {
    display: flex;
    margin-left: $logoMdSize;
}

nav ul li {
    display: block;
    flex: 1 1 100%;
}

nav button {
    display: none;
}

/*Main CSS*/
.reservations {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
}

.pageHeading {
    grid-column-start: 1;
    grid-column-end: 3;
}

main {

    button {
        font-size: 5rem;
    }
    
    button.forward {
        top: 25%;
    }
  
    button.back {
        top: 25%;
    }

    //Adventure Specifics Formatting
    .pageHeading {
        position: absolute;
        top: 135px;
        right: 50px;
    }
    
    section.adventure1 {
        position: absolute;
        top: 100px;
        max-width: 25%;
        padding: 0.5rem 2rem;
        margin-left: 5%;
    }

    //Reservations Formatting
    .levels {
        margin-top: 4%;
        margin-right: 10%;
    }

    //Guides Formatting
    div.guide {
        display: flex;
        flex: 1 1 100%;
        padding-bottom: 0;
    }

    div.guide section#row1, div.guide section#row3 {
        margin: 0 auto 0 0;
        padding: 0;
    }

    div.guide section {
        padding-left: 2%; 
        padding-right: 2%;
    }

    div.guide section#row2 {
        margin: 0 0 0 auto;
    }

    div.guide h2 {
        text-align: left;
    }

    #row2 {
        flex-direction: row-reverse;
        text-align: right;
    }

    div#row2 h2 {
        text-align: right;
    }

    div.guide img {
        max-width: 45%;
    }

    

    
    
}