header {

    #logo {
        max-width: $logoMdSize;
    }

    h1 {
        padding-top: 2.5rem;
        font-size: 1.5rem;
        margin-left: $logoMdSize;
    }

    div {
        display: flex;
        float: right;
        margin: 0.5rem;
        margin-left: 0;
        margin-bottom: 0;
        font-size: 1.5rem;
        text-shadow: 1px 1px 1px rgba(168, 168, 168, 0.4);
    }
}

/*Nav CSS*/

nav {
    margin-top: 2rem;
}

nav ul {
    display: flex;
    margin-left: $logoMdSize;
}

nav ul li {
    display: block;
    flex: 1 1 100%;
}

nav button {
    display: none;
}

/*Main CSS*/
.reservations {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
}

main {

    button {
        font-size: 5rem;
    }
    
    button.forward {
        top: 25%;
    }
  
    button.back {
        top: 25%;
    }

    //Adventure Specifics Formatting
    section.adventure1 {
        position: absolute;
        top: 50px;
        max-width: 25%;
        padding: 0.5rem 2rem;
        margin-left: 5%;
    }

    //Reservation Formatting 
    
    .difficult {
        background-color: rgba(253, 231, 76, 0.5);
        border: 2px solid $background;
        border-radius: 10px;
        margin-top: 4%;
        margin-right: 10%;
        padding: 1rem;
    }

    .difficult h3 {
        margin-top: 0;
    }
}