
/*Header*/

header {
    border-bottom: 1px solid $background;
    #logo {
        margin: 0;
        display: flex;
        float: left;
        max-width: $logoSmSize;
        z-index: 5;
    }

    h1 {
        padding-top: 2rem;
        padding-bottom: .5rem;
        margin-left: $logoSmSize;
        margin-bottom: 0;
        margin-top: 0;
        font-family: 'Lato', sans-serif;
        color: $headingColor;
        font-size: 1.25rem;
        font-weight: 300;
    }

    div {
        display: flex;
        float: right;
        color: $schemeOrange;
        margin: 0.5rem 3% 0 0;
        font-weight: 700;
    }
}

  /*begin nav CSS*/
  nav {
      display: inline;
      background-color: white;
      padding: 0;
      text-align: center;
      white-space: nowrap;
      font-family: 'Amiri', serif;
  }

  nav button {
      width: 100%;
      padding: 0.5rem;
  }

  nav ul {
      display: none;
      padding: 0;
      margin: 0;
  }

  .hide {
      display: block;
  }

  nav ul li {
      border-right: 1px solid gray;
      border-top: 1px solid gray;
      list-style: none;  
  }

  nav ul li a {
      color: $textColor;
  }

  nav ul li a:hover {
      background-color: $schemeOrange;
      color: white;
  }

  nav ul li a {
      text-decoration: none;
      color: black;
      display: block;
      padding: 0.5rem;
  }

  .current {
      color: #db7f00;
  }

  //Footer CSS
  hr {
    clear: both;
  }

  footer {
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 0.9rem;
    color: $headingColor;
    padding: 0.75rem;

    a {
        text-decoration: none;
        color: $schemeOrange;
    }

    a:hover {
        color: blue;
    }
}

  /*Main*/
  main {
    //Toggling
    div.adventures {
        display: none;
    }

    div.show {
        display: inline-block;
        position: relative;
    }

    div.sticky {
        position: sticky;
        bottom: 0;
    }

    //general formatting
    .homePage {
        padding: 1rem;
        font-size: 1.2em;
    }
    .resTitle {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .resTitle h1 {
        position: absolute;
        right: 3%;
        color: white;
        font-family: $headingFont;
    }

    img {
      width: 100%;
      }

    div div.pageHeading {
        position: absolute;
        top: 30px;
        right: 3%;
        z-index: 10;
        font-family: $headingFont;
        font-size: 1rem;
        color: white;
        text-align: right;
    }

    div div.pageHeading h1 {
        margin: 0;
    }

    div div.pageHeading p {
        color: white;
        margin-top: 0;
        font-weight: 700;
        }

    div div.dark {
        color: $background;
    }

    div div.dark p {
        color: $textColor;
        font-weight: 700;
    }


      button {
          background-color: transparent;
          border: none;
          font-size: 3rem;
          color: rgba(255, 255, 255, 0.5);
          padding-top: 4rem;
          padding-bottom: 4rem;
      }
      button:hover {
          color: white;
          background-color: rgba(255, 255, 255, 0.3);
      }
      button:focus {
          outline: none;
      }

      button.forward {
      position: absolute;
      top: 5%;
      right: 2%;
      }

      button.back {
        position: absolute;
        top: 5%;
        left: 2%;
        z-index: 8;
      }


//contact us

      div.location {
          clear: both;
      }

      div.location iframe {
          max-width: 100%;
          max-height: 200px;
      }

      div.location section h3 {
        color: $schemeOrange;
        font-family: $headingFont;
    }

    div.location section section {
        color: $textColor;
        font-family: $textFont;
        font-size: 1.25em;
    }

      div.location section {
          padding: 0.3rem;
      }

      section.socialmedia img {
        max-width: 30px;
      }

      //Adventure Specifics Formatting
      section.adventure1, section.adventure2, section.adventure3 {
        background-color: $schemeYellow;
        padding: 2rem;
        padding-top: 1rem;
        padding-bottom: 4rem;
        margin-bottom: 0.2rem;
    }

    section.adventure1 h3, section.adventure2 h3, section.adventure3 h3 {
        color: $headingColor;
        font-family: 'Lato', sans-serif;
    }

    p {
        color: $textColor;
        font-family: 'Amiri', serif;
    }

    button.reserve {
        display: flex;
        float: left;
        font-size: 1rem;
        font-family: 'Lato', sans-serif;
        color: white;
        background-color: $schemeOrange;
        padding: 1rem;
        border-radius: 10px;
    }

    button.reserve:hover {
        background-color: rgb(153, 90, 3);
    }

      //Current weather in Riggins
      div.sticky {
          background-color: $background;
          padding: 1rem;
          padding-bottom: 0;
      }
      
      div.sticky h4 {
          color: white;
          font-family: 'Lato', sans-serif;
          margin-top: 0.5rem;
          margin-bottom: 0.3rem;
      }

      #icon {
          width: 40px;
          display: flex;
          float: left;
      }
      
      div.currentWeather {
          display: inline;
          font-family: 'Amiri', serif;
          padding-left: 0.5rem;
          color: $schemeYellow;
          line-height: 3rem;
      }

      //Reservations Form Formatting
      form fieldset {
          margin: 2% 5%;
          border: 2px solid $background;
          border-radius: 7px;
      }

      legend {
          font-family: 'Lato', sans-serif;
          font-weight: 900;
          color: $headingColor;
          padding: .2rem;
      }

      .top {
          display: block;
          font-family: 'Lato', sans-serif;
          margin-top: 1rem;
          margin-bottom: 0;
      }

      .top input, select, textarea {
          display: block;
          margin-bottom: .5rem;
          margin-top: 0.2rem;
      }

      .top input, textarea, select {
          padding: 4px;
          background-color: rgba(52, 121, 136, 0.4);
          color: $textColor;
          width: 95%;
      }

      .top input, select {
          max-width: 650px;
      }

      textarea {
          max-width: 800px;
      }

      ::placeholder {
          color: darkslategray;
      }

      #type {
          font-style: italic;
      }

      .reportBtn, .emailBtn {
          padding: .75rem;
          background-color: $headingColor;
          color: white;
          font-family: 'Lato', sans-serif;
          font-size: 1.5rem;
          border: none;
          border-radius: 10px;
      }

      .reportBtn {
        margin: 1rem 7%;
      }

      .emailBtn {
          margin: 1rem 1%;
      }

      //Reservation Page Formatting
      
      .levels img {
        display: flex;
        float: right;
        max-width: 45%;
        padding: 0.1rem;
      } 
    
    .levels {
        background-color: rgba(253, 231, 76, 0.5);
        border: 2px solid $background;
        border-radius: 10px;
        margin: 5% 5%;
        padding: 1rem;
    }

    .levels h3 {
        margin-top: 0;
    }

    //Guides Formatting
    
    #guides {
        margin: 2%;
        margin-bottom: 4%;
        color: $background;
    }

    div#guides img {
        border-radius: 7px;
    }

    div.guide {
        padding-bottom: 2%;
        margin-bottom: 4%;
        border: 2px solid $background;
        border-radius: 7px;
    }

    div.guide h2 {
        font-family: 'Lato', sans-serif;
        margin-top: 0.5rem;
        text-align: center;
    }

    div.guide section {
        padding: 2%;
    }
    div.guide p {
        font-family: 'Amiri', serif;
        color: $headingColor;
    }

    //Sent page
    .sent {
        font-family: $headingFont;
        color: $schemeOrange;
        padding-left: 5rem;
    }

    .response {
        font-size: 1.5rem;
        padding-left: 5rem;
    }
  }

  
 