$background: rgba(52, 121, 136, 0.8);

$headingColor: #4c5b5c;
$navColor: #3891a6;
$textColor: #1A1423;
$schemeOrange: #db7f00;
$schemeYellow: #fde74c;

$headingFont: 'Lato', sans-serif;
$textFont: 'Amiri', serif;

/*logo sizing*/
$logoSmSize: 100px;
$logoMdSize: 200px;
$logoLgSize: 260px;