$background: rgba(76, 91, 92, 0.6);

$headingColor: #4c5b5c;
$navColor: #3891a6;
$textColor: #1A1423;
$schemeOrange: #db7f00;
$schemeYellow: #fde74c;

/*logo sizing*/
$logoSmSize: 100px;
$logoMdSize: 200px;
$logoLgSize: 260px;