@media screen and (min-width: 60em) {

#siteName {
    font-size: 3rem;
}

#photoatt a {
    font-size: 1rem;
}

/*Begin Gallery Page CSS*/
.gallery {
    grid-template-columns: 1fr 1fr 1fr
}

.gallery h2 {
    grid-column: span 3;
}

.gallery picture:hover {
    box-shadow: 0 0 25px rgba(54, 54, 54, 0.7);
}

}