body {
    background-color: rgba(249, 226, 6, 0.2);
}

header, footer {
    color: #200000;
}
header {
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: #92BDA3;
}

.logo {
    padding: 1rem 0.5rem 1rem 1rem;
    width: 50px;
}

header div {
    text-align: center;
    padding-top: 1rem;
    padding-right: 0.5rem;
}

header div h1, header div section {
    margin: 0.1rem;
    padding: .75rem;
    padding-top: 2rem;
    color: #360101;
}

#siteName {
    font-family: 'Sigmar One', serif;
    font-size: 1.15rem;
}

#slogan {
    font-family: 'Lato', sans-serif;
    font-size: 0.8rem;
    font-weight: normal;
    font-style: italic;
}

.headerText {
    padding: 0;
}

footer {
    text-align: center;
    font-size: .8rem;
    margin: 0.5rem;
}

footer a{
    color: #200000;
}

footer a:hover {
    color: blue;
}

nav, main, footer {
    clear: both;
  }

nav {
    padding: 0;
    background-color: #36453B;
    text-align: center;
}

nav button {
    width: 100%;
    padding: 0.5rem;
    background-color: transparent;
    border: none;
    border-top: 1px solid #36453B;
    color: #fff;
}

nav button:hover {
    background-color: rgb(180, 224, 194);
    color: #200000;
}

nav button:focus {
    outline: none;
}

nav ul {
    padding: 0;
    margin-top: 0;
}

nav ul li {
    font-family:'Lato', sans-serif;
    padding: 0;
    list-style: none;
    display: none;
}

.hide li {
    display:block
}

nav ul li a {
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    color: #fff;
}

nav ul li a:hover {
    background-color: rgb(180, 224, 194);
    color: #200000;
}

main {
    font-family: 'Lato', sans-serif;
    margin: 1%;
}

main h2 {
    color: #524b2e;
    text-align: center;
    font-family: 'Sigmar One', serif;
}

main div {
    background-color: #fff;
    border: 1px solid #92BDA3;
    margin: 0.5rem;
    padding: 0.75rem;
    box-shadow: 3px 3px 5px rgba(182, 182, 182, 0.7);
}

hr {
    box-shadow: 0 1px rgb(182, 182, 182);
    max-width: 95%;
}

