body {
    max-width: 800px;
    margin: auto;
}

header {
    text-align: center;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    align-content: center;
    grid-gap: 20px;
    justify-items: center;
}

img[data-src] {
    filter: blur(0.2em);
}

img {
    filter: blur(0em);
    transition: filter 0.5s;
}
