@media screen and (min-width: 60em) {

#siteName {
    font-size: 3rem;
}

#photoatt a {
    font-size: 1rem;
}

/*Begin Gallery Page CSS*/
.gallery {
    grid-template-columns: 1fr 1fr 1fr
}

.gallery h2 {
    grid-column: span 3;
}

.gallery section:hover {
    box-shadow: 0 0 35px rgba(31, 30, 30, 0.7);
}

/*Begin Strom Center CSS*/
form label.sbs {
    padding: 0.2rem;
}

/*Begin Home Page Town Info CSS*/
.welcomeWords {
    max-width: 25%;
    position: absolute;
    top: 5px;
    right: 15px;
    text-align: right;
    opacity: 0.85;
    box-shadow: none;
    background-color: rgba(250, 250, 250);
    padding: 2rem;
    line-height: 1.5em;
}

main div.townInfo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

main div div.townCard {
    display: block;
    padding: 0;
}

main div div.townCard:nth-child(odd) {
    text-align: left;
}

main div div section {
    margin-top: 1rem;
}

main div div img {
    display: block;
    margin: auto;
    max-width: 100%;
}

}