body {
    max-width: 300px;
    margin: auto;
    margin-top: 2rem;
}

table {
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    border-collapse: collapse;
    box-shadow: 5px 5px 7px #628ca6; 
}

thead, tfoot{
    background-color: #7fb9c2;
    color: black;   
}

thead {
    font-size: 1.5em;    
}

td, th {
    border: 1px solid lightgray;
    padding: 7px;
}

tbody tr th {
    background-color: #628ca6;
    color: white;
}

tbody tr {
    background-color: #e7f0ed;
}

tbody tr:nth-child(odd) {
    background-color: #e7ffed;
}

.goalMet {
    background-color: #628ca6;
    color: white;
}

tfoot {
    font-size: .75em;
}