body {
    background-color: rgba(249, 226, 6, 0.2);
    color: #200000;
}

#townfun {
    display: block;
    background-color: #f9e206;
    color: #200000;
    text-align: center; 
    padding: 0.5rem;
}

#townfun div {
    font-family: 'Sigmar One', serif;
}

#townfun p {
    font-family: 'Lato', sans-serif;
    margin: 0.2rem;
}

header, footer {
    color: #200000;
}

/*header and some footer CSS*/
header {
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: #92BDA3;
}

.logo {
    padding: 1rem 0.5rem 1rem 1rem;
    width: 50px;
    height: 50px;
}

header div {
    text-align: center;
    padding-top: 1rem;
    padding-right: 0.5rem;
}

header div h1, header div section {
    margin: 0.1rem;
    padding: .75rem;
    padding-top: 2rem;
    color: #360101;
}

#logolink {
    text-decoration: none;
    display: flex;
}

#siteName {
    font-family: 'Sigmar One', serif;
    font-size: 1.15rem;
}

#slogan {
    font-family: 'Lato', sans-serif;
    font-size: 0.8rem;
    font-weight: normal;
    font-style: italic;
}

.headerText {
    padding: 0;
}

/*Begin footer only CSS*/
footer {
    text-align: center;
    font-size: .8rem;
    margin: 0.5rem;
}

footer a{
    color: #200000;
}

footer a:hover {
    color: blue;
}

/*clearing floats from the header*/
nav, main, footer {
    clear: both;
  }

  /*begin nav CSS*/
nav {
    padding: 0;
    background-color: #36453B;
    text-align: center;
    white-space: nowrap;
}

nav button {
    width: 100%;
    padding: 0.5rem;
    background-color: transparent;
    border: none;
    border-top: 1px solid #36453B;
    color: #fff;
}

nav button:hover {
    background-color: rgb(180, 224, 194);
    color: #200000;
}

nav button:focus {
    outline: none;
}

nav ul {
    padding: 0;
    margin-top: 0;
}

nav ul li {
    font-family:'Lato', sans-serif;
    padding: 0;
    list-style: none;
    display: none;
}

.hide li {
    display:block
}

nav ul li a {
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    color: #fff;
}

nav ul li a:hover {
    background-color: rgb(180, 224, 194);
    color: #200000;
}

nav .current {
        background-color: #f9e206;
        color: #360101;
}

/*begin main CSS*/
main {
    font-family: 'Lato', sans-serif;
    margin: auto;
    max-width: 850px;
}

main h2 {
    color: #524b2e;
    text-align: center;
    font-family: 'Sigmar One', serif;
}

/*basic div CSS formatting*/
main div {
    background-color: #fff;
    border: 1px solid #92BDA3;
    margin: 0.75rem;
    padding: 0.75rem;
    box-shadow: 3px 3px 5px rgba(182, 182, 182, 0.7);
}

/*begin weather summary section and image CSS*/
#hero {
    position: relative;
    padding: 0;
    border: none;
    box-shadow: none;
    margin: 0.2rem;
}

.heroImage, #article img {
    max-width: 100%;
}

.weathersummary {
    max-width: 55%;
    position: absolute;
    top: 15px;
    opacity: 0.85;
    box-shadow: none;
}

.weathersummary, .weathersummary section div {
    background-color: #92BDA3;
    color: #200000;
}

.weathersummary h3 {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0.25rem;
}

.weathersummary hr {
    box-shadow: none;
}

.weather {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.weathersummary section div {
    box-shadow: none;
    border: none;
    margin: 2px;
    padding: 0;
}

.summary {
    text-align: right;
}

/*Photo attribution label and link*/
#photoatt {
    position: absolute;
    right: 0;
    bottom: 0;
    padding-right: 2px;
}

#photoatt a {
    text-decoration: none;
    color: #000;
    background-color: rgba(182, 182, 182, 0.7);
    font-style: italic;
    font-size: 0.5rem;
}

#photoatt a:hover {
    color: blue;
}

hr {
    box-shadow: 0 1px rgb(182, 182, 182);
    max-width: 98%;
}

/*Don't display 5 day forecast in small view*/
.forecast {
    display: none;
}

/*Begin article CSS formatting, see above for image formatting*/
h3 {
    margin-bottom: 0.25rem;
    font-family: 'Sigmar One', serif;
}

#garden h3 {
    margin: 1rem;
}

#author {
    font-style: italic;
    text-align: right;
}

#garden img {
    box-shadow: 0 0 20px rgb(146, 146, 146);
    float: left;
    margin: 0.7rem;
}

/*Begin Contact CSS*/
.contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contact h3 {
    grid-column: span 2;
}

.contact #map {
    display: none;
}

.information {
    border: none;
    box-shadow: none;
    margin: 0;
    padding: 0;
}

.socialmedia {
    display: flex;
}

.socialmedia a img {
    flex: 1;
    margin: 0.2rem;
    max-width: 35px;
}

.address, .phonenumber, .socialmedia {
    margin: 0.5rem;
    margin-bottom: 1.5rem;
}

/*Begin Gallery Page CSS*/
.gallery {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 15px;
    grid-auto-flow: dense;
    justify-content: center;
    justify-items: center;
    padding: 0.3rem;
}

.gallery picture img[data-src] {
    filter: blur(0.2rem);
}

section.pictureBox {
    display: block;
    background-color: white;
    border: solid 1px grey;
    height: fit-content;
}

.gallery picture img {
    max-width: 100%;
    filter: blur(0rem);
    transition: filter 2s;
}

.gallery section p {
    padding: 0.3rem;
    font-family: 'Lato', sans-serif;
    font-style: italic;
}

/*Begin Storm Center Form CSS*/

form fieldset {
    margin: auto;
    border-radius: 10px;
    margin: 1rem 1rem;
    border: solid 1px #36453B;
    background-color: white;
}

fieldset legend {
    font-family: 'Sigmar One', serif;
    color: #524b2e;
}

form label {
    margin: 0 1rem 0 0;
}

.top {
    display: block;
    padding: 0.5rem;
    margin-top: 1rem;
    font-size: 1.1rem;
}

form label.top input, textarea, form select {
    display: block;
    border: solid 1px #999;
    border-radius: 4px;
    margin: 0 0 0 0.2rem;
    padding: .75rem;
    background-color: rgba(146, 189, 163, 0.4);
    font-size: 0.9rem;
    padding: 0.6rem;
    width: 100%;
    max-width: 20rem;
}

form label.sbs {
    display: block;
    padding: .5rem;
    font-size: 1rem;
}

.flexly {
    border: none;
    box-shadow: none;
    display: flex;
    align-items: center;
    max-width: fit-content;
    margin-right: 0;
    margin-bottom: 0;
    display: block;
}

#rating {
    padding: 0;
}

#ratingvalue {
    display: block;
	margin-left: 0.2rem;
}

#ratingvalue:hover {
    box-shadow: none;
}

#reportBtn {
    border: none;
    margin: 1.25rem 1rem 1.5rem 1rem;
    background-color: #36453B;
    padding: 0.75rem;
    border-radius: 5px;
    color: white;
    font-size: 1.5rem;
}

/*Begin Thank you page CSS*/
.thanks h2 {
    text-align: left;
    color: #200000;
}

/*Begin Home Page Town Info CSS*/
.welcome {
    padding: 0;
    border: none;
    background-color: transparent;
    position: relative;
    padding: 0;
    box-shadow: none;
    margin: .1rem;
}

.welcomePhoto {
    display: block;
    max-width: 100%;
}

.welcomeWords {
    max-width: 50%;
    position: absolute;
    top: 3px;
    right: 10px;
    text-align: right;
    font-size: 0.8em;
    opacity: 0.85;
    box-shadow: none;
    background-color: rgba(250, 250, 250);
    padding: .5rem;
    margin: 0.2em;
    line-height: 1.5em;
}

main div.townInfo {
    border: none;
    box-shadow: none;
    background-color: transparent;
}

a.townlink:link, a.townlink:visited {
    text-decoration: none;
    color: #200000;
}

main div div img {
    display: block;
    max-width: 100%;
}

main div div section h2 {
    margin-top: 0;
}

/*Upcoming Events CSS*/
#townevents {
    text-align: center;
    border-width: 8px;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 0 0 20px gray;
}

/*Preston Photo Contest CSS*/
.contestPhotos {
    border: none;
    box-shadow: none;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 15px;
    justify-content: center;
    justify-items: center;
}

.example {
    display: block;
    width: 100%;
    height: auto;
}