/*logo sizing*/
/*Header*/
header {
  border-bottom: 1px solid rgba(52, 121, 136, 0.8); }
  header #logo {
    margin: 0;
    display: flex;
    float: left;
    max-width: 100px;
    z-index: 5; }
  header h1 {
    padding-top: 2rem;
    padding-bottom: .5rem;
    margin-left: 100px;
    margin-bottom: 0;
    margin-top: 0;
    font-family: 'Lato', sans-serif;
    color: #4c5b5c;
    font-size: 1.25rem;
    font-weight: 300; }
  header div {
    display: flex;
    float: right;
    color: #db7f00;
    margin: 0.3rem;
    font-weight: 700; }

/*begin nav CSS*/
nav {
  display: inline;
  background-color: white;
  padding: 0;
  text-align: center;
  white-space: nowrap;
  font-family: 'Amiri', serif; }

nav button {
  width: 100%;
  padding: 0.5rem; }

nav ul {
  display: none;
  padding: 0;
  margin: 0; }

.hide {
  display: block; }

nav ul li {
  border-right: 1px solid gray;
  border-top: 1px solid gray;
  list-style: none; }

nav ul li a {
  color: #1A1423; }

nav ul li a:hover {
  background-color: #db7f00;
  color: white; }

nav ul li a {
  text-decoration: none;
  color: black;
  display: block;
  padding: 0.5rem; }

.current {
  color: #db7f00; }

hr {
  clear: both; }

footer {
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 0.9rem;
  color: #4c5b5c;
  padding: 0.75rem; }
  footer a {
    text-decoration: none;
    color: #db7f00; }
  footer a:hover {
    color: blue; }

/*Main*/
main div.adventures {
  display: none; }

main div.show {
  display: inline-block;
  position: relative; }

main div.sticky {
  position: sticky;
  bottom: 0; }

main .topPhoto {
  grid-column-start: 1;
  grid-column-end: 3; }

main img {
  width: 100%; }

main .pageHeading {
  position: absolute;
  top: 110px;
  right: 5%;
  z-index: 10;
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  color: white; }

main .pageHeading h1 {
  margin: 0; }

main .pageHeading p {
  color: white;
  margin-top: 0; }

main button {
  background-color: transparent;
  border: none;
  font-size: 3rem;
  color: rgba(255, 255, 255, 0.5);
  padding-top: 4rem;
  padding-bottom: 4rem; }

main button:hover {
  color: white;
  background-color: rgba(255, 255, 255, 0.3); }

main button:focus {
  outline: none; }

main button.forward {
  position: absolute;
  top: 5%;
  right: 2%; }

main button.back {
  position: absolute;
  top: 5%;
  left: 2%;
  z-index: 8; }

main section.adventure1 {
  background-color: #fde74c;
  padding: 2rem;
  padding-top: 1rem; }

main section.adventure1 h3 {
  color: #4c5b5c;
  font-family: 'Lato', sans-serif; }

main p {
  color: #1A1423;
  font-family: 'Amiri', serif; }

main button.reserve {
  display: flex;
  float: right;
  font-size: 1rem;
  font-family: 'Lato', sans-serif;
  color: white;
  background-color: #db7f00;
  padding: 1rem;
  border-radius: 10px; }

main button.reserve:hover {
  background-color: #995a03; }

main div.sticky {
  background-color: rgba(52, 121, 136, 0.8);
  padding: 1rem;
  padding-bottom: 0; }

main div.sticky h4 {
  color: white;
  font-family: 'Lato', sans-serif;
  margin-top: 0.5rem;
  margin-bottom: 0.3rem; }

main #icon {
  width: 40px;
  display: flex;
  float: left; }

main div.currentWeather {
  display: inline;
  font-family: 'Amiri', serif;
  padding-left: 0.5rem;
  color: #fde74c;
  line-height: 3rem; }

main form fieldset {
  margin: 2% 10%;
  border: 2px solid rgba(52, 121, 136, 0.8);
  border-radius: 7px; }

main legend {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  color: #4c5b5c;
  padding: .2rem; }

main .top {
  display: block;
  font-family: 'Lato', sans-serif;
  margin-top: 1rem;
  margin-bottom: 0; }

main .top input, main select, main textarea {
  display: block;
  margin-bottom: .5rem;
  margin-top: 0.2rem; }

main .top input, main textarea, main select {
  padding: 4px;
  background-color: rgba(52, 121, 136, 0.4);
  color: #1A1423; }

main ::placeholder {
  color: darkslategray; }

main #reportBtn {
  margin: 1rem 10%;
  padding: .5rem;
  background-color: #4c5b5c;
  color: white;
  font-family: 'Lato', sans-serif;
  font-size: 1.75rem;
  border: none;
  border-radius: 10px; }

main .levels img {
  display: flex;
  float: right;
  max-width: 45%;
  padding: 0.1rem; }

main .levels {
  background-color: rgba(253, 231, 76, 0.5);
  border: 2px solid rgba(52, 121, 136, 0.8);
  border-radius: 10px;
  margin: 2rem;
  padding: 1rem; }

main .levels h3 {
  margin-top: 0; }

main #guides {
  margin: 2%;
  margin-bottom: 4%;
  color: rgba(52, 121, 136, 0.8); }

main div#guides img {
  border-radius: 7px; }

main div.guide {
  padding-bottom: 2%;
  margin-bottom: 4%;
  border: 2px solid rgba(52, 121, 136, 0.8);
  border-radius: 7px; }

main div.guide h2 {
  font-family: 'Lato', sans-serif;
  margin-top: 0.5rem;
  text-align: center; }

main div.guide section {
  padding: 2%; }

main div.guide p {
  font-family: 'Amiri', serif;
  color: #4c5b5c; }

@media only screen and (min-width: 560px) {
  header #logo {
    max-width: 200px; }
  header h1 {
    padding-top: 2.5rem;
    font-size: 1.5rem;
    margin-left: 200px; }
  header div {
    display: flex;
    float: right;
    margin: 0.5rem;
    margin-left: 0;
    margin-bottom: 0;
    font-size: 1.5rem;
    text-shadow: 1px 1px 1px rgba(168, 168, 168, 0.4); }
  /*Nav CSS*/
  nav {
    margin-top: 2rem; }
  nav ul {
    display: flex;
    margin-left: 200px; }
  nav ul li {
    display: block;
    flex: 1 1 100%; }
  nav button {
    display: none; }
  /*Main CSS*/
  .reservations {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px; }
  .pageHeading {
    grid-column-start: 1;
    grid-column-end: 3; }
  main button {
    font-size: 5rem; }
  main button.forward {
    top: 25%; }
  main button.back {
    top: 25%; }
  main .pageHeading {
    position: absolute;
    top: 135px;
    right: 50px; }
  main section.adventure1 {
    position: absolute;
    top: 100px;
    max-width: 25%;
    padding: 0.5rem 2rem;
    margin-left: 5%; }
  main .levels {
    margin-top: 4%;
    margin-right: 10%; }
  main div.guide {
    display: flex;
    flex: 1 1 100%;
    padding-bottom: 0; }
  main div.guide section#row1, main div.guide section#row3 {
    margin: 0 auto 0 0;
    padding: 0; }
  main div.guide section {
    padding-left: 2%;
    padding-right: 2%; }
  main div.guide section#row2 {
    margin: 0 0 0 auto; }
  main div.guide h2 {
    text-align: left; }
  main #row2 {
    flex-direction: row-reverse;
    text-align: right; }
  main div#row2 h2 {
    text-align: right; }
  main div.guide img {
    max-width: 45%; } }

/*end of media query */
@media only screen and (min-width: 1028px) {
  /*Header CSS*/
  header #logo {
    max-width: 260px; }
  header h1 {
    padding-top: 4rem;
    font-size: 2rem;
    margin-left: 260px; }
  header div {
    font-size: 2rem; }
  nav ul {
    margin-left: 260px; }
  /*Main Css*/
  main {
    clear: both; }
    main button {
      font-size: 8rem; }
    main button.forward {
      top: 30%; }
    main button.back {
      top: 30%; }
    main .pageHeading {
      top: 175px; }
    main #guides {
      text-align: center;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 20px; }
    main div.guide {
      display: block; }
    main div.guide img {
      max-width: 100%; }
    main div.guide section h2 {
      text-align: center; }
    main div#row2 h2 {
      text-align: center; }
    main #row2 {
      text-align: center; }
    main div.guide section#row1, main div.guide section#row2, main div.guide section#row3 {
      margin: 0; } }

/*end of media query */
